<html>

<head>
       <title>Редактирование данных товара</title>
</head>

<body>
       <h2>Редактирование данных товара</h2>
       <form action="/list/postEditVest" method="POST">
              <input type="hidden" name="id" value="{{list.id}}" />

              <label>Наимен-ие</label><br>
              <input name="name" value="{{list.name}}" /><br>

              <label>Цена</label><br>
              <input name="price" type="number" value="{{list.price}}" /><br>

              <label>Количество</label><br>
              <input name="stock_quantity" type="number" value="{{list.stock_quantity}}" /><br><br>

              <label>Класс брони</label><br>
              <select name="armor_class_id" value="{{list.armor_class_id}}">
                     <option value="">Выберите класс брони</option>
                     <option value=1>Бр1</option>
                     <option value=2>Бр2</option>
                     <option value=3>Бр3</option>
                     <option value=4>Бр4</option>
                     <option value=5>Бр5</option>
                     <option value=6>Бр6</option>
              </select><br><br>

              <label>Материал</label><br>
              <select name="material_id" value="{{list.material_id}}">
                     <option value="">Выберите материал</option>
                     <option value=1>Арамидное волокно</option>
                     <option value=2>Ультрамолекулярный полиэтилен</option>
                     <option value=3>Сталь</option>
                     <option value=4>Титановый сплав</option>
                     <option value=5>Керамика</option>
                     <option value=6>Гибридный композит</option>
              </select><br><br>

              <label>Размер</label><br>
              <select name="size_id" value="{{list.size_id}}">
                     <option value="">Выберите размер</option>
                     <option value=1>S</option>
                     <option value=2>M</option>
                     <option value=3>L</option>
                     <option value=4>XL</option>
                     <option value=5>XXL</option>
              </select><br><br>

              <label>Производитель</label><br>
              <select name="manufacturer_id" value="{{list.manufacturer_id}}">
                     <option value="">Выберите производителя</option>
                     <option value=1>АрмТех</option>
                     <option value=2>Сафар-Защита</option>
                     <option value=3>Ratnik Industries</option>
                     <option value=4>СпецТехноАльянс</option>
                     <option value=5>UARMOR Global</option>
                     <option value=6>Turtle Defense</option>
                     <option value=7>Steel Shield Ltd</option>
                     <option value=8>Nordic Armor Systems</option>
              </select><br><br>
              <input type="submit" value="Отправить" />
       </form>

       <a href="/list">Список товаров</a>
</body>

</html>